<div class="login-dark">
    <div id='form'>
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration"><i class="fa fa-expeditedssl"></i></div>
        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="ایمیل"></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="کلمه عبور">
        </div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">ورود</button></div><a
            class="forgot" href="#">کلمه عبور خود را فراموش کرده اید؟</a>
    </div>
</div>